/* banner */
h1 {
  font-family: Cambria, Georgia, Times, 'Times New Roman';
  font-size: 40px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: slateblue;
}

.header {
  font-family: Cambria, Georgia, Times, 'Times New Roman';
  font-size: 20px;
  width: 100%;
  margin: 10px;
  text-align: center;
  color: slateblue;

}

.post-image {
  width: 100%;
  box-align: center;
}
/* banner end */


.post-content{
  font-size: 22px;
  line-height: 1.5;
  font-family: Cambria, Georgia, Times, 'Times New Roman';
  color: #884413;
}

p span {
  font-size: 50px;
  font-weight: 600;
  color: slateblue;

}

/* card design */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  
    width: 380px;
    padding: 15px;
    border: 5px solid #884413;
    border-radius: 10px;
    background-color:  #CD864F;
    display: inline-block;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 2, 2, 0.2);
    }

.card:hover{
      background-color: #B75924;
      box-shadow: 5px 5px 5px 5px rgba(0, 2, 2, 0.2);
      border-radius: 5px 5px 5px 5px;
  }    

  
  .card img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .card h2 {
    font-size: 32px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
    color: #884413;
    background-color: white;
    border-radius: 10px;
    
  }
  
  .card h3 {
    width: 80%;
    font-size: 26px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
    color:#884413;
    background-color: white;
    border-radius: 5px;
  }

  .card p {
    font-size: 18px;
    line-height: 1.5;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
    color:white;
  }
  
/* card design end */


/* buy-now button */
   .button {
    display: inline-block;
    padding: 10px 15px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: black;
    color: #FEFEFF;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: slateblue;
    box-shadow: 5px 5px 5px 5px rgba(0, 2, 2, 0.2);
    border-radius: 5px 5px 5px 5px;
  }
/* button end */


/* card 2 design */
  .card2 {
    width: 380px;
    padding: 15px;
    border: 5px solid #1A1A1C;
    border-radius: 10px;
    background-color:  #748094;
    display: inline-block;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 2, 2, 0.2);
  }

  .card2:hover{
    background-color: #575560;
    box-shadow: 5px 5px 5px 5px rgba(0, 2, 2, 0.2);
    border-radius: 5px 5px 5px 5px;
}    
  
  .card2 img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .card2 h2 {
    font-size: 32px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
    color: #1A1A1C;
    background-color: #FEFEFF;
    border-radius: 10px;
    
  }
  
  .card2 h3 {
    width: 80%;
    font-size: 26px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
    color:#1A1A1C;
    background-color: #FEFEFF;
    border-radius: 5px;
  }

  .card2 p {
    font-size: 18px;
    line-height: 1.5;
    font-family: Cambria, Georgia, Times, 'Times New Roman';
    color:#FEFEFF;
  }
/* card 2 end */  


/* end part */

 .last-container {
  display: grid;
  width: 100%;
  font-size: 22px;
  line-height: 1.8;
  font-family: Cambria, Georgia, Times, 'Times New Roman';
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}

.last-container img {
  grid-column: 1;
  width: 600px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border-style: ridge;
}

.last-container p {
  grid-column: 2;
  width: 500px;
  padding: 10px;
  margin: 10px;
}